body {
  font-family: Arial, sans-serif;
  background-color: #f5ece4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content h1 {
  font-size: 24px;
  margin: 0;
}
.content p {
  font-size: small;
  color: #555;
  font-weight: lighter;
}
.price {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.price .current-price {
  font-size: 28px;
  color: #2a9d8f;
  margin: 0;
}
.price .original-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #777;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
}
.button:hover {
  background-color: #21867a;
}
/* Media Queries for Mobile View */
@media (max-width: 700px) {
  .card {
    grid-template-columns: 1fr;
    /* max-width: 100%; */
    padding: 10px;
  }
  .card img {
    width: 100%;
    height: 50%;
    margin-top: -10px;
    border-radius: 15px 15px 0px 0px;
  }
  .content {
    margin-top: -200px;
  }
  .current-price {
    margin-top: 30px;
    font-size: larger;
  }
}
